.container {
  top: 50px;
  position: relative;
}
.nav-list {
  text-align: center;
  list-style: none;
  margin: auto;
  padding: 20px 5px;
}
.nav-list li {
  margin: 2px 0;
  text-transform: uppercase;
  font-size: 0.94rem;
  letter-spacing: 1px;
  display: block;
  padding: 5px 0;
  color: #a4acc4;
  transition: all 0.4s ease-out;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 7px 0;
}
.nav-list li:hover {
  color: #007bff;
}
.nav-list li::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(3, 127, 255, 0.2);
  transform-origin: left;
  transition: width 0.4s ease-out;
  z-index: -1;
}
.nav-list li:hover::after {
  width: 100%;
}
.nav-list li.active {
  color: #fff;
}
