.profile-div {
  border-bottom: 1px solid #2e344e;
  padding: 20px 0;
}
.inner-container {
  width: 150px;
  height: 150px;
  margin: auto;
  border: 5px solid #2e344e;
  border-radius: 100px;
}
.inner-container img {
  border-radius: 50%;
  max-width: 100%;
}
